
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Ürün Takip Sistemi</h2>

<br />
<br />
<div class="col-lg-6 container">
    <label>Kullanıcı Girişi için:</label> <span class="text-info"> Kullanıcı adı : user1 - Şifre: user1 </span>
</div>